header {
    display: block;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 0 10px;
    background: #121212;

    .wrap {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        max-width: 1300px;
    }

    .logo {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-right: 10px;

        img {
            display: block;
            width: 50px;
            margin: 0;
        }
    }
    .search {   
        position: absolute;
        top: 22px;
        left: 90px;
    }
}